header.main-header.content-center 
    a.logo(href="/") 
        img(src="./public/images/logo.svg", alt="")
    nav
        ul 
            li  
                a(href="#") Home
            li  
                a(href="#")  Pages
            li  
                a(href="#") Services
            li  
                a(href="#") Project
            li  
                a(href="#") Blog
            li  
                a(href="#") Contact
    i.icon-search