mixin ProjectItem(title)
    .project-item 
        img(src="./public/images/project.png", alt="")
        .body 
            .text 
                h6=title 
                span Decor / Artchitecture 
            .arrow  
                i.icon-arrow