mixin ReviewCard(name, location, text)
    .review-card 
        .user 
            img(src="./public/images/user.jpg", alt="")
            .name 
                h6=name
                span=location
        p=text
            