mixin WorkItem(title)
    .work-item 
        h5=title    
        p There are many variations of the passages of lorem Ipsum from available, majority.
        a(href="#") Read more 
            i.icon-arrow-right
            